@model IEnumerable<VideoRentalApplication.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

@Ajax.ActionLink("Top 3", "Top3", 
    new AjaxOptions 
    {
      HttpMethod = "GET", // HttpMethod to use, GET or POST
      UpdateTargetId = "customers", // ID of the HTML element to update
      InsertionMode = InsertionMode.Replace // Replace the existing contents
    })
@Ajax.ActionLink("Bottom 3", "Bottom3", 
    new AjaxOptions 
    {
      HttpMethod = "GET", // HttpMethod to use, GET or POST
      UpdateTargetId = "customers", // ID of the HTML element to update
      InsertionMode = InsertionMode.Replace // Replace the existing contents
    })

@using (Html.BeginForm())
{ 
 <input id="btnNewCustomer" type="button" value="New Customer" 
     onclick="@("window.location.href='" + @Url.Action("Create", "Customer") + "'");"/>
}
    
<table id="customers" class ="table table-bordered table-hover" style="width:100%; margin-top:6px;">
    <thead>
    <tr style="background-color:#DF7401; color:white;">        
        <th style="text-align:center;">
            @*@Html.DisplayNameFor(model => model.Name)*@
            <h3>Customer</h3>
        </th>        
        <th style="text-align:center;">
            <h3>Membership Type</h3>            
        </th>
        <th style="text-align:center;">
            <h3>Delete</h3>
        </th>        
    </tr>
    </thead>
    <tbody>

    @*@foreach (var item in Model) {
    <tr>        
        <td style="padding-left: 5px;">
            @Html.ActionLink(item.Name,"Details",new { custID = item.custID })            
        </td>        
        <td style="padding-left: 5px;">
            @Html.DisplayFor(modelItem => item.MembershipType.Name)
        </td>
        <td style="padding-left: 5px;">
            <button type="button" data-customer-id="@item.custID" class="btnDelete" value="Delete">Delete</button>
            @Html.ActionLink("Edit","Edit",new {custID = item.custID} )
            @Html.ActionLink("Delete","Delete",new {custID = item.custID} )
        </td>        
    </tr>
}*@

</tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                {
                    data: "Name",
                    render: function(data, type, customer){
                        return "<a href='/Customer/Edit/?custID=" + customer.custID + "'>" + customer.Name + "</a>";
                    }
                },
                {
                    data: "MembershipType.Name"
                },
                {
                    data: "custID",
                    render: function(data){
                        return "<button class='btnDelete' data-customer-id=" + data + ">Delete</button>";
                    }
                }],

                "scrollY": 200,
                "scrollX": true
            });


            $("#customers").on("click", ".btnDelete", function () {
                var btn = $(this);
                bootbox.confirm("Do you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            Url: "/api/customers" + btn.attr('data-customer-id'),
                            Method: "DELETE",
                            success: function () {
                                table.row(btn.parents("tr")).remove().draw();                                
                            }
                        });
                    }
                });                
            });

            $("#btnNewCustomer").mouseover(function () {
                $(this).css("background-color", "DarkOrange");
            });
            $("#btnNewCustomer").mouseout(function () {
                $(this).css("background-color", "LightGray");
            });

        });
    </script>
}
